.button {
  display: flex;
  justify-content: center;
}

.new-div {
  max-width: fit-content;
  margin-right: auto;
  margin-left: auto;
  margin-top: 10px;
  padding: 10px;
  border: 1px solid black;
}
